<footer class="bg-text-center text-lg-start" style="background: #ECEFF1">
    <div class="container p-4 pb-0">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Shopify</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Users</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">most bought</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Most view</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">The most expensive</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">The offs</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Shopify</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Contact us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Our Locations</a>
                    </li>
                </ul>
            </div>
        </div>
        <form action="">
            <div class="row">
                <div class="col-auto mb-4 mb-md-0">
                    <p class="pt-2"><strong>Sign up for our newsletter</strong></p>
                </div>
                <div class="col-md-5 col-12 mb-4 mb-md-0">
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example2" class="form-control"/>
                        <label class="form-label" for="form5Example2">Email address</label>
                    </div>
                </div>
                <div class="col-auto mb-4 mb-md-0">
                    <button type="submit" class="btn btn-primary mb-4">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">Shopify.com</a>
    </div>
</footer>