<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample"
                aria-controls="navbarCenteredExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div
                class="collapse navbar-collapse"
                id="navbarCenteredExample"
        >
            <div class="navbar-collapse d-flex justify-content-between">
                <ul class="navbar-nav px-lg-4 px-xs-1">
                    <li class="nav-item px-lg-2 px-xs-0">
                        <a class="px-lg-3" href="#" id="logo">
                            Shopify
                        </a>
                    </li>
                    <li class="nav-item px-lg-2 px-xs-0">Products</li>
                    <li class="nav-item px-lg-2 px-xs-0">Offs</li>
                    <li class="nav-item px-lg-2 px-xs-0">AboutUs</li>
                </ul>
                <ul class="navbar-nav d-none d-md-flex px-4">
                    <li class="nav-item px-2 dropdown">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link d-flex dropdown-toggle"
                               id="navbarDropdown"
                               role="button"
                               data-mdb-toggle="dropdown"
                               aria-expanded="false" href="#">
                                <img
                                        src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                        class="rounded-circle"
                                        height="22"
                                        alt=""
                                        loading="lazy"
                                />
                                <strong class="d-none d-sm-block ms-1">{{ request.user.first_name }}</strong>
                            </a>
                        {% else %}
                            <a class="nav-link d-flex dropdown-toggle"
                               id="navbarDropdown"
                               role="button"
                               data-mdb-toggle="dropdown"
                               aria-expanded="false" href="#">
                                <img
                                        src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                        class="rounded-circle"
                                        height="22"
                                        alt=""
                                        loading="lazy"
                                />
                            </a>
                        {% endif %}

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'account:personal_page' request.user.pk %}">Personal
                                    Page</a></li>
                                <li><a class="dropdown-item" href="#">Orders</a></li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                            {% else %}
                                <li>
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account:logout' %}">LogOut</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'account:login' %}">Login</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item px-2">
                            <a class="nav-link"
                               href="{% url 'account:personal_page' request.user.pk %}">
                                <span class="badge rounded-pill badge-notification bg-danger">1</span>
                                <span><i class="fas fa-shopping-cart"></i></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>