button{
    background-color: cornflowerblue !important;
    color: black !important;
}
input{
    background-color: #bedeea !important;
    color: black !important;
    border: #F7A93D !important;
    outline: #F7A93D !important;
}
.dropdown-toggle::after {
    content: none;
}